
.china-container {
  position: relative;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden;
}


.china-container > h1 {
  position: absolute;
  top: 33vh; /* Adjust based on the slideshow height */
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background */
  color: white;
  z-index: 2; /* Ensure it appears above the video and slideshow */
}

.video-container {
  position: absolute;
  top: 33vh; /* Adjust to start below the slideshow */
  left: 0;
  width: 100%;
  height: calc(100vh - 33vh); /* Fill the remaining height */
  z-index: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
